[submodule "pkg/metamod"]
	path = pkg/metamod
	url = https://github.com/Mooshua/metamod-source.git
	branch = feat/templated-sourcehook
[submodule "pkg/sdk"]
	path = pkg/sdk
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = cs2
[submodule "pkg/amtl"]
	path = pkg/amtl
	url = https://github.com/alliedmodders/amtl.git
[submodule "pkg/uv"]
	path = pkg/uv
	url = https://github.com/libuv/libuv.git
[submodule "pkg/luau"]
	path = pkg/luau
	url = https://github.com/luau-lang/luau/
[submodule "pkg/mimalloc"]
	path = pkg/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "pkg/zip"]
	path = pkg/zip
	url = https://github.com/kuba--/zip
[submodule "pkg/httplib"]
	path = pkg/httplib
	url = https://github.com/yhirose/cpp-httplib
